<div class="title_left">
  <h2>Изображения</h2>
</div>



<div class="col-md-12">
  <div class="x_panel">
    <div class="x_content">
      <div class="text-right">
        <%= link_to 'Загрузить изображения', new_admin_product_picture_path(@product), class: 'btn btn-primary' %>
      </div>

      <%= render 'pictures' %>

    </div>
  </div>
</div>