<div class="title_left">
  <h2>Значения</h2>
</div>



<div class="col-md-12">
  <div class="x_panel">
    <div class="text-right">
      <%= link_to 'Добавить значение', new_admin_param_value_path(@parameter_name), class: 'btn btn-primary' %>
    </div>
    <div class="x_content">

      <%= render 'parameters' %>

    </div>
  </div>
</div>