<div class="title_left">
  <h2>Добавить новый параметр</h2>
</div>



<div class="col-md-12">
  <div class="x_panel">
    <div class="x_content">

      <%= render 'form' %>

    </div>
  </div>
</div>